/* font-family: "Gravitas One", serif; */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* --------------------------------------------------------------- */

@font-face {
  font-family: "Norse-Bold";
  src: url("Norse-Bold.otf");
}

body {
  display: flex;
  font-family: "Roboto", serif;
  background-color: #f9fafb;
  width: 100vw;
}

.sidebar {
  height: 100vh;
  position: relative;
}

.background-leaves {
  height: 100%;
}

.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  top: 25%;
  width: 100%;
}

.logo-text {
  font-family: Norse-Bold;
  font-size: 80px;
}

.odin-image {
  height: 80px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 650px;
}

header {
  margin-bottom: 50px;
  margin-left: 50px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
}

.introduction-text {
  margin-bottom: 20px;
}

.input-background-container {
  background-color: white;
  box-shadow: 1px 1px 10px #e5e7eb;
}

h2 {
  margin-left: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}

.input-container {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 10px;
  max-width: 750px;
}

.label-input {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}

input {
  border: 2px solid #e5e7eb;
  height: 30px;
  width: 250px;
  border-radius: 5px;
}

input:focus {
  border: 2px solid blue;
  outline: none;
}

input:user-invalid {
  border: 2px solid red;
  outline: none;
}

.account-container {
  margin-top: 30px;
  margin-left: 50px;
}

.create-account {
  display: block;
  margin-bottom: 20px;
  background-color: #596d48;
  padding: 9px 50px;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px #596d48;
}

.have-account a {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}
